/*.root {
    --cor0:#51A82F;
    --cor1:#418526;
    --cor2:#67aaee;
    --cor3:#0B3A6A;
    --cor4:#ffffff;
    --cor5:#000000;

    --fonte_padrao: Arial, Helvetica, sans-serif;
}*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./assets/img/backgroud.png);
    background-size: cover;
}

.hearder {
    position: relative;
    height: 120px;
    background-color:#ffffff;
    margin: auto;
    max-width: 1300px; /*Valor antigo de 1080px*/
    min-width: 300px;
}

.barra_verde {
    background-color:#51A82F;
    height: 20px;
    width: 100%;
    max-width: 1300px; /*Valor antigo de 1080px*/
    min-width: 300px;
    margin: auto;
}

.barra_branca {
    margin: auto    ;
    background-color:#ffffff;
    display: flex;
    height: 100%;
    height: 90px;
    max-width: 1300px; /*Valor antigo de 1080px*/
    min-width: 300px;
    align-items: left;
    justify-content: center;

}

.segunda_barra_verde {
    margin: auto;
    display: flex;
    height: 100%;
    height: 60px;
    background-color:#51A82F;
    max-width: 1300px; /*Valor antigo de 1080px*/
    min-width: 90px;
}

img {
    margin-left: 90px;
    width: 100px;
    height: 90px;
}

/*.logo_tamanho {
    background-color: #000000;
    margin-left: 90px;
    width: 100px;
    height: 90px;
}*/

.botoes {
    max-width: 1080px;
    min-width: 450px;
}



.botao1 {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: -250px;
    font-family: Arial, sans-serif;
    color: white;
    background-color:#3F7AB6;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    cursor: pointer;
    
}

.botao1:hover{
    background-color:#0B3A6A;
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 0px 0px 4px 0px;
    border-style: solid;
}

.botao2 {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: -250px;
    font-family: Arial, sans-serif;
    color: white;
    background-color:#3F7AB6;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

.botao2:hover{
    background-color: #0B3A6A;
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 0px 0px 4px 0px;
    border-style: solid;
}

.input_wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1cm;
    max-width: 1000px;
    min-width: 300px;
}

.input {
    padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.botao_lupa {
    background-color:#51A82F;
    border: none;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;

}

.botao_lupa:hover{
    background-color:#316a0b;
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 0px 0px 4px 0px;
    border-style: solid;
}

.navbar {
    color: #ffffff;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 0px 0px -5px;
}

.navbar_item  {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 33px;
}

.navbar_item:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #418526;
    padding: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    border-color: #000000;
}

.navbar_submenu {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    white-space: nowrap;
    left: 0;
    display: none;
    background-color: #418526;
    color: #ffffff;
    padding: 20px 5px 20px 20px;
    position: absolute;
    z-index: 9999;
}

.navbar_submenu_item > p:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #3F7AB6;
    padding: 10px;
}
  
.navbar_item:hover .navbar_submenu {
   display: block;
}
  
.navbar_submenu_item {
    padding: 1px 20px 1px 10px ;
    
}

/**login*/
.login {
    background-color: #ffffff;
    border-radius: 30px;
    width: 300px;
    height: 320px;
    margin-top: 90px;
    margin-left: 750px;
    position: absolute;
    max-width: 1080px;
    min-width: 300px;
}

.rodape_login{
    margin-top: 290px;
    border-radius: 0px 0px 27px 27px;
    height: 50px;
    height: 400;
    background-color: #51A82F;
    max-width: 1080px;
    min-width: 300px;
}

.corpo_acesso_rapido {
    background-color: #51A82F;
    color: white;
    width: 300px;
    height: 200px;
    margin-top: 500px;
    margin-left: 750px;
    position: absolute;
}

.acesso_rapido > p {
    background-color: #0B3A6A;
    color: #ffffff;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.521);
    width: 100px;
    height: 60px;
    margin: -20px 0px 0px 10px;
    padding: 3px 3px 3px 3px; 
    position: absolute;
    
    
}


.noticias {
    margin-top: 50px;
    max-width: 1080px;
}

.noticia1 {
    background-image: url(./assets/img/Seguranca-pequena.jpeg);
    width: 180px;
    height: 150px;
    max-width: 1080px;
    margin-top: -310px;
    margin-left: 180px;
    
    
}

.reportagem1 > a {
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    position: relative;
    top: 140px;
    text-align:left ;
    text-decoration: none;
}

.reportagem1 > a:hover {
    text-decoration: underline;
}

.noticia2 {
    background-image: url(./assets/img/limpeza-pequena.jpg);
    width: 180px;
    height: 150px;
    max-width: 1080px;
    margin-top: -150px;
    margin-left: 380px;
}

.reportagem2 > a {
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    position: relative;
    top: 140px;
    text-align:left ;
    text-decoration: none;
}

.reportagem2 > a:hover {
    text-decoration: underline;
}

.noticia3 {
    background-image: url(./assets/img/Educacao-pequena.jpg);
    width: 180px;
    height: 150px;
    max-width: 1080px;
    margin-top: -150px;
    margin-left: 580px;
}

.titulo > a {
    font-family: Arial, Helvetica, sans-serif;
    color: #68d33e;
    text-decoration: none;
    position: relative;
    top: 150px;
    text-align: left;
}

.titulo > a:hover {
    text-decoration: underline;
}

.reportagem3 > a {
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    position: relative;
    top: 140px;
    text-align:left ;
    text-decoration: none;
}

.reportagem3 > a:hover {
    text-decoration: underline;
}


/*Carousel*/

.carousel-item {
    font-family: Arial, Helvetica, sans-serif;
}

.textos > p {
    background-color: #316a0bd5;
    border-radius: 0px 10px 10px 10px;
}

.textos > h5 {
    background-color: #0b3b6ae1;
    margin: 0px;
    margin-right: 400px;
    border-radius: 10px 10px 0px 0px;
}


.corpo_azul{
    margin-top: 0px;
    margin: auto;
    text-align:center;
    background-color: #3F7AB6;
    height: 750px;
    width: 100%;
    min-width: 300px;
    max-width: 1300px; /*Valor antigo de 1080px*/ /* Ajuste a largura m?xima conforme necess?rio */

}